{% extends "base.html" %}

{% block title %}

{% endblock %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-4">Your Feed Page</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <ul class="list-group list-group-flush">
        {% for post in feed  %}
          <li class="list-group-item">
            <div class="float-left">
              <b>{{post.profile.owner}}: </b> {{post.description}} <span class="blockquote-footer">{{post.timestamp}}</span>
            </div>
            <div class="float-right">
              <i id="star-{{post.id}}" class="fas fa-star fa-spin {% if post.id in favorites %}text-warning{% endif %}" onclick="favorite_me({{post.id}})"></i>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript">
    function favorite_me(id) {
        console.log("Clicked!"+id);
        $.ajax(
            {
                type:'GET',
                url: '/profiles/favorite/'+id+"/",
                error: function(){
                    console.log('error');
                },
                success: function(data){
                    let star_id = "#star-"+id;
                    if(data.action==="favorite"){
                        $(star_id).addClass("text-warning");
                    }else{
                        $(star_id).removeClass("text-warning")
                    }
                },
            }
        );
    }
</script>
{% endblock %}
