{% extends "base.html" %}

{% block title %}

{% endblock %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-4">Your Feed Page</h1>
  </div>

</div>
<div class="row">
      {% for post in feed  %}
  <div class="col-lg-4 col-md-3">
    <div class="card border-info mb-3">
      {% if post.image %}
      <img class="card-img-top" src='{{post.image.url}}' alt="Card image cap">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title"><strong>Hotel : </strong>{{post.hotel}}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Country : </strong>{{post.country}}</li>
        <li class="list-group-item"><strong>City : </strong>{{post.city}}</li>
        <li class="list-group-item"><strong>Comment : </strong>{{post.description}}</li>
        <li class="list-group-item"><strong>Rate : </strong>{{post.rate}}</li>
      </ul>
  </div>
  </div>
      {% endfor %}
</div>


<script type="text/javascript">
    function favorite_me(id) {
        console.log("Clicked!"+id);
        $.ajax(
            {
                type:'GET',
                url: '/profiles/favorite/'+id+"/",
                error: function(){
                    console.log('error');
                },
                success: function(data){
                    let star_id = "#star-"+id;
                    if(data.action==="favorite"){
                        $(star_id).addClass("text-warning");
                    }else{
                        $(star_id).removeClass("text-warning")
                    }
                },
            }
        );
    }
</script>
{% endblock %}
