{% extends "base.html" %}

{% block title %}

{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">@{{user.username}}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>First Name:</b> {{user.first_name}}</li>
        <li class="list-group-item"><b>Last Name:</b> {{user.last_name}}</li>
        <li class="list-group-item"><b>Email Name:</b> {{user.email}}</li>
      </ul>
      <div class="card-body">
        <div class="row">
          <div class="col-6 text-center">
            <a href="{% url 'followers' user.pk %}" class="btn btn-outline-danger">Stalkers</a>
          </div>
          <div class="col-6 text-center">
            <a href="{% url 'following' user.pk %}" class="btn btn-outline-primary">Prey</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Clues</h5>
      </div>
      {% if user == request.user %}
      <div class="card-body">
        <form action="{% url 'profile' user.pk %}" method="POST">
          {% csrf_token %}
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Recipient's username" name="message">
            <div class="input-group-append">
              <input class="btn btn-outline-info" type="submit" value="Leave Clue">
            </div>
          </div>
        </form>
        {% endif %}
      </div>
      <ul class="list-group list-group-flush">
        {% for clue in user.clue_set.all  %}
          <li class="list-group-item"><b>{{clue.timestamp}}</b> {{clue.message}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
